body {
	margin: 0;
	background-color: #111111;
}

@tailwind base;
	@tailwind components;
	@tailwind utilities;

	@layer base {
	:root {
		/* Name: custom color palette
			 Author: Ilias Ism
			 URL: https://gradient.page */

		/* CSS: .bg-gradient { background: var(--gradient) } */
		--gradient: #1e3c72;

		--background: 232 37.699999999999996% 2.24%;
		--foreground: 232 5.8% 96.4%;

		--muted: 232 28.999999999999996% 8.4%;
		--muted-foreground: 232 5.8% 52.8%;

		--popover: 232 53.4% 3.6400000000000006%;
		--popover-foreground: 232 5.8% 96.4%;

		--card: 232 53.4% 3.6400000000000006%;
		--card-foreground: 232 5.8% 96.4%;

		--border: 232 28.999999999999996% 8.4%;
		--input: 232 28.999999999999996% 8.4%;

		--primary: 232 58% 28%;
		--primary-foreground: 232 5.8% 96.4%;

		--secondary: 232 28.999999999999996% 8.4%;
		--secondary-foreground: 232 5.8% 96.4%;

		--accent: 232 28.999999999999996% 8.4%;
		--accent-foreground: 232 5.8% 96.4%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 232 5.8% 96.4%;

		--ring: 232 58% 28%;
	}
}
